.jumbotron {
  background-color: transparent;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1 {
  text-align: center;
}

#datepicker {
  background-color: white;
  display: block;
  margin: auto;
}
