body {
  background-image: url("../images/broadway.jpg");
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;
}
.wtf {
  font-size: 10em;
}
.display-4 {
  font-size: 6em;
}
#search-button {
  margin: auto;
  font-family: "Nashville";
}
h1 {
  text-align: center;
  font-family: "Nashville";
}

#datepicker {
}
.results-div {
  background-color: white;
}

@font-face {
  font-family: "Nashville";
  src: url("../fonts/nashvill-webfont.woff") format("woff"),
    url("../fonts/nashvill-webfont.woff2") format("woff2");
}
